body, html ,#root, .app,.container{
  width:100%;
  height:100%;
}

.loginForm{
  
  box-sizing:border-box ;
  width: 100%;
  max-width: 100px;
  padding-left: 100px;
  padding-right: 20px;
}
.inputField{
  scroll-padding-top: 20px;
}

.input{
  box-sizing: border-box;
  outline: none;
  border:solid 2px #11de3e;
  border-radius: 4px;
  color:#292929;
  width:100%;
  padding:12px;
  font-size:14px;
  background : rgb(2, 0, 0);

}

.submitButton{
  padding-top:16px;
}

.btn{
  width:100%;
  min-width: 280px;
  color: #565656;
  padding:12px;
  font-size:14px;
  font-weight: bold;
  border:solid 2px #1189de;
  border-radius:4px;
  background:#fff;
  cursor: pointer;

}


.form_block{
  width: 400px;
  display: table;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(24, 21, 21, 0.1);
  padding: 5px;
  border-radius: 5px;
}
.form_block > #title{
  background: #4a3d85;
  padding: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  text-shadow: -1px -1px 0 rgba(0,0,0,.2);
}
.form_block > .body{
	background: #FFFFFF;
  padding: 10px;
  display: table;
}

input[type='text'],input[type='password'] {
  height: 35px;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 4px 5px;
  background: #fff;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.loginBtn{
  height: 35px;
  box-sizing: border-box;
  padding: 4px 10px;
  background: #f5f4ea;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.loginBtn:hover{
  background: #c3c3ba;
}
.registerBtn{
  float: right;
  background: #3d8577;
  color: #fff;
  height: 35px;
  box-sizing: border-box;
  padding: 4px 10px;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: -35px;
}
.registerBtn:hover{
  background: #632d5a;
}
.Error{
  padding: 10px;
  background-color: #b62424;
  border: 1px solid #8f171b;
  margin-bottom: 10px;
  border-radius: 3px;
}